
    .row>[class^=col] {
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 2em;
        padding-right: 2em;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(94, 82, 78, 0.4);
    }
    

    .topmargin {

        margin-top: 100px;
        

    }

    .botmargin {
        margin-bottom: 100px;
    }

    .cont {
        max-width: 800px;
    }

    body {
    background-image: url("images/beans.jpg");
    background-size: 2000px;
    background-attachment: fixed;
    
  
}


